h1{
    font-size: 60px;
    background-color: rgb(119, 29, 61);
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
h2 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}